<!--********************************************************************
* by jiawanlong
*********************************************************************-->
<nav id="nav" class="navbar navbar-static-top default">
    <div class="nav-header">
        <div class="navcontentfixed">
            <div class="navbar-header" style="    margin: 0 20px;">
                <div class="navbar-title">
                    <!-- text-align: center;">贾宛龙</h1> -->

                    <a class="navbar-brand" style="color: transparent;">
                        <h1 style="font-size: 27px;
                    text-align: center;
                    font-weight: 700;background: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
background-clip: text;
                    text-align: center;">Cesium 社区</h1>

                        <!-- <img class="project-logo" src="../img/svg/logo-dark.svg" style="visibility: visible;" id="logo"> -->
                    </a>
                </div>
            </div>
            <div class="navbar-rightbar">
                <ul>
                    <!-- 版本号 -->
                    <li>
                        <span class="project-title vm" id="title">
                            <a style="color:#fff;" target="_blank" href="https://github.com/jiawanlong">
                                <img src="../img/github.png" alt=""
                                    style="display: inline-block;width: 30px;height: 30px;cursor: pointer;"></a>
                            <img src="https://img.shields.io/github/stars/jiawanlong/Cesium-Examples.svg?" alt=""
                                srcset="">
                            <img src="https://img.shields.io/github/forks/jiawanlong/Cesium-Examples.svg?style=social"
                                alt="" srcset="">
                        </span>
                    </li>
                    <!-- 小尺寸toggle按钮 -->
                    <!-- <li class="navbar-toggle">
                        <a href="#" class=" collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                            aria-expanded="false">
                        </a>
                    </li> -->

                </ul>
            </div>
            <div class="collapse navbar-collapse navbar-custom-menu" id="navbar-collapse">
                <ul class="nav navbar-nav">

                    <li class="navbar-menu" id="leaflet-menu">
                        <a class="center" target="_self" href="../cesiumEx/examples.html">Cesium Examples</a>
                    </li>
                    <li class="navbar-menu" id="mapboxgl-menu">
                        <a class="center" target="_self" href="../threeEx/examples.html">Three Examples</a>
                    </li>
                    <!-- <li class="navbar-menu" id="mapboxgl-men1u">
                        <a class="center" target="_self" href="../babylonEx/examples.html">Babylon</a>
                    </li> -->
                    <li class="navbar-menu" id="mapboxgl-m2enu">
                        <a class="center" target="_self" href="../webglEx/examples.html">Webgl</a>
                    </li>
                    <li class="navbar-menu" id="mapboxgl-me3nu">
                        <a class="center" target="_self" href="../webgpuEx/examples.html">WebGPU</a>
                    </li>

                    <li class="navbar-menu dropdown open" id="download-menu">
                        <a target="_self" style="color: #fff !important;" data-i18n="nav.more.get._name">Cesium 官网</a>
                        <span class="arrow"></span>

                        <ul class="dropdown-menu">
                            <li class="navbar-menu" id="mapboxgl-me411nu">
                                <a class="center" style="color: #fff !important;" target="_blank"
                                    href="https://cesium.com/platform/cesiumjs/">官网</a>
                            </li>
                            <li class="navbar-menu" id="mapboxgl-me4nu">
                                <a class="center" style="color: #fff !important;" target="_blank"
                                    href="https://cesium.com/learn/cesiumjs/ref-doc/">API文档</a>
                            </li>
                            <li class="navbar-menu" id="mapboxgl-me411nu">
                                <a class="center" style="color: #fff !important;" target="_blank"
                                    href="https://sandcastle.cesium.com/">示例</a>
                            </li>

                        </ul>
                    </li>

                    <!-- <li class="navbar-menu" id="mapboxgl-menu">
                        <a class="center" target="_self" href="../cesiumGf/examples.html">Cesium GF</a>
                    </li> -->
                </ul>
            </div>
            <!-- <div style=" z-index: 1000;
            position: fixed;
            right: 0;padding: 3px 15px;
            top: 71px;background: red;">
                <span style="
                font-size: 20px;
                color: transparent;
                background-clip: text;
                background: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
                
                background-clip: text;    color: black;
                ">开发者目前在找工作（武汉市），求内推！微信：trampjwl</span>
            </div> -->
        </div>

    </div>
</nav>

<script>

    $('h1').dblclick(() => {
        window.open('https://jiawanlong.github.io/Cesium-Examples/code.html')
    })

</script>
<!-- <script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=5zt6s97wu4l&amp;m=7&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script> -->
<style>
    .navbar-nav li {
        margin: 0 10px;
        font-size: 20px;
    }

    #dcddd {
        right: 245px !important;
    }

    .navbar-rightbar {
        margin-right: 0 !important;
    }
</style>