@font-face {
  font-family: "plottingfont";
  src: url("plottingfont.woff2?t=1693980973876") format("woff2"),
  url("plottingfont.woff?t=1693980973876") format("woff"),
  url('plottingfont.ttf?t=1693980973876') format('truetype');
}

[class^="plottingfont-"], [class*=" plottingfont-"] {
  font-family: 'plottingfont' !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.plottingfont-3:before { content: "\ee42"; }
.plottingfont-7:before { content: "\ee55"; }
.plottingfont-8:before { content: "\ee57"; }
.plottingfont-9:before { content: "\ee58"; }
.plottingfont-10:before { content: "\edf6"; }
.plottingfont-11:before { content: "\ee13"; }
.plottingfont-12:before { content: "\ee34"; }
.plottingfont-13:before { content: "\ee35"; }
.plottingfont-14:before { content: "\ee36"; }
.plottingfont-15:before { content: "\ee38"; }
.plottingfont-16:before { content: "\ee39"; }
.plottingfont-17:before { content: "\ee3a"; }
.plottingfont-18:before { content: "\ee3b"; }
.plottingfont-19:before { content: "\ee3c"; }
.plottingfont-20:before { content: "\ee3d"; }
.plottingfont-21:before { content: "\ee3e"; }
.plottingfont-22:before { content: "\ee3f"; }
.plottingfont-27:before { content: "\ee40"; }
.plottingfont-28:before { content: "\ee41"; }
.plottingfont-30:before { content: "\ee43"; }
.plottingfont-31:before { content: "\ee45"; }
.plottingfont-37:before { content: "\ee46"; }
.plottingfont-38:before { content: "\ee47"; }
.plottingfont-39:before { content: "\ee48"; }
.plottingfont-40:before { content: "\ee49"; }
.plottingfont-41:before { content: "\ee4a"; }
.plottingfont-42:before { content: "\ee4b"; }
.plottingfont-43:before { content: "\ee4c"; }
.plottingfont-44:before { content: "\ee4d"; }
.plottingfont-45:before { content: "\ee4e"; }
.plottingfont-46:before { content: "\ee4f"; }
.plottingfont-47:before { content: "\ee50"; }
.plottingfont-48:before { content: "\ee51"; }
.plottingfont-51:before { content: "\ee52"; }
.plottingfont-52:before { content: "\ee53"; }
.plottingfont-56:before { content: "\ee54"; }
.plottingfont-108:before { content: "\ee12"; }
.plottingfont-1001:before { content: "\edf7"; }
.plottingfont-1002:before { content: "\ee03"; }
.plottingfont-1003:before { content: "\ee0d"; }
.plottingfont-1004:before { content: "\ee0e"; }
.plottingfont-1005:before { content: "\ee0f"; }
.plottingfont-1007:before { content: "\ee10"; }
.plottingfont-1008:before { content: "\ee11"; }
.plottingfont-1400:before { content: "\ee37"; }
.plottingfont-71000:before { content: "\ee56"; }
.plottingfont-100101:before { content: "\edf8"; }
.plottingfont-100102:before { content: "\edfc"; }
.plottingfont-100103:before { content: "\edfd"; }
.plottingfont-100104:before { content: "\edff"; }
.plottingfont-100105:before { content: "\ee00"; }
.plottingfont-100106:before { content: "\ee01"; }
.plottingfont-100201:before { content: "\ee04"; }
.plottingfont-100202:before { content: "\ee06"; }
.plottingfont-100203:before { content: "\ee07"; }
.plottingfont-100204:before { content: "\ee09"; }
.plottingfont-100205:before { content: "\ee0a"; }
.plottingfont-100206:before { content: "\ee0b"; }
.plottingfont-100207:before { content: "\ee0c"; }
.plottingfont-110101:before { content: "\ee14"; }
.plottingfont-110102:before { content: "\ee15"; }
.plottingfont-110103:before { content: "\ee18"; }
.plottingfont-110104:before { content: "\ee19"; }
.plottingfont-110105:before { content: "\ee1a"; }
.plottingfont-110106:before { content: "\ee1c"; }
.plottingfont-110107:before { content: "\ee20"; }
.plottingfont-110108:before { content: "\ee21"; }
.plottingfont-110109:before { content: "\ee22"; }
.plottingfont-110110:before { content: "\ee27"; }
.plottingfont-110111:before { content: "\ee2c"; }
.plottingfont-110112:before { content: "\ee2e"; }
.plottingfont-110113:before { content: "\ee2f"; }
.plottingfont-110201:before { content: "\ee30"; }
.plottingfont-110202:before { content: "\ee31"; }
.plottingfont-110203:before { content: "\ee32"; }
.plottingfont-110204:before { content: "\ee33"; }
.plottingfont-10010101:before { content: "\edf9"; }
.plottingfont-10010102:before { content: "\edfa"; }
.plottingfont-10010103:before { content: "\edfb"; }
.plottingfont-10010301:before { content: "\edfe"; }
.plottingfont-10010601:before { content: "\ee02"; }
.plottingfont-10020101:before { content: "\ee05"; }
.plottingfont-10020301:before { content: "\ee08"; }
.plottingfont-11010201:before { content: "\ee16"; }
.plottingfont-11010202:before { content: "\ee17"; }
.plottingfont-11010501:before { content: "\ee1b"; }
.plottingfont-11010601:before { content: "\ee1d"; }
.plottingfont-11010602:before { content: "\ee1e"; }
.plottingfont-11010603:before { content: "\ee1f"; }
.plottingfont-11010901:before { content: "\ee23"; }
.plottingfont-11010902:before { content: "\ee24"; }
.plottingfont-11010903:before { content: "\ee25"; }
.plottingfont-11010904:before { content: "\ee26"; }
.plottingfont-11011001:before { content: "\ee28"; }
.plottingfont-11011002:before { content: "\ee29"; }
.plottingfont-11011003:before { content: "\ee2a"; }
.plottingfont-11011004:before { content: "\ee2b"; }
.plottingfont-11011101:before { content: "\ee2d"; }
.plottingfont-30000198:before { content: "\ee44"; }
.plottingfont-010101:before { content: "\ea01"; }
.plottingfont-010102:before { content: "\ea02"; }
.plottingfont-010103:before { content: "\ea03"; }
.plottingfont-010104:before { content: "\ea04"; }
.plottingfont-010105:before { content: "\ea05"; }
.plottingfont-010106:before { content: "\ea06"; }
.plottingfont-010107:before { content: "\ea07"; }
.plottingfont-010108:before { content: "\ea08"; }
.plottingfont-010109:before { content: "\ea09"; }
.plottingfont-010110:before { content: "\ea0a"; }
.plottingfont-010111:before { content: "\ea0b"; }
.plottingfont-010112:before { content: "\ea0c"; }
.plottingfont-010113:before { content: "\ea0d"; }
.plottingfont-010114:before { content: "\ea0e"; }
.plottingfont-010115:before { content: "\ea0f"; }
.plottingfont-010116:before { content: "\ea10"; }
.plottingfont-010117:before { content: "\ea11"; }
.plottingfont-010118:before { content: "\ea12"; }
.plottingfont-010119:before { content: "\ea13"; }
.plottingfont-010120:before { content: "\ea14"; }
.plottingfont-010121:before { content: "\ea15"; }
.plottingfont-010122:before { content: "\ea16"; }
.plottingfont-010123:before { content: "\ea17"; }
.plottingfont-010124:before { content: "\ea18"; }
.plottingfont-010125:before { content: "\ea19"; }
.plottingfont-010126:before { content: "\ea1a"; }
.plottingfont-010127:before { content: "\ea1b"; }
.plottingfont-010201:before { content: "\ea1c"; }
.plottingfont-01020101:before { content: "\ea1d"; }
.plottingfont-01020102:before { content: "\ea1e"; }
.plottingfont-01020103:before { content: "\ea1f"; }
.plottingfont-01020104:before { content: "\ea20"; }
.plottingfont-01020105:before { content: "\ea21"; }
.plottingfont-01020106:before { content: "\ea22"; }
.plottingfont-01020107:before { content: "\ea23"; }
.plottingfont-01020108:before { content: "\ea24"; }
.plottingfont-01020109:before { content: "\ea25"; }
.plottingfont-01020110:before { content: "\ea26"; }
.plottingfont-01020111:before { content: "\ea27"; }
.plottingfont-01020112:before { content: "\ea28"; }
.plottingfont-01020113:before { content: "\ea29"; }
.plottingfont-01020114:before { content: "\ea2a"; }
.plottingfont-01020115:before { content: "\ea2b"; }
.plottingfont-01020116:before { content: "\ea2c"; }
.plottingfont-01020117:before { content: "\ea2d"; }
.plottingfont-01020118:before { content: "\ea2e"; }
.plottingfont-01020119:before { content: "\ea2f"; }
.plottingfont-01020120:before { content: "\ea30"; }
.plottingfont-01020121:before { content: "\ea31"; }
.plottingfont-01020122:before { content: "\ea32"; }
.plottingfont-01020123:before { content: "\ea33"; }
.plottingfont-01020124:before { content: "\ea34"; }
.plottingfont-01020125:before { content: "\ea35"; }
.plottingfont-01020126:before { content: "\ea36"; }
.plottingfont-01020127:before { content: "\ea37"; }
.plottingfont-01020128:before { content: "\ea38"; }
.plottingfont-01020129:before { content: "\ea39"; }
.plottingfont-01020130:before { content: "\ea3a"; }
.plottingfont-01020131:before { content: "\ea3b"; }
.plottingfont-01020132:before { content: "\ea3c"; }
.plottingfont-01020133:before { content: "\ea3d"; }
.plottingfont-01020134:before { content: "\ea3e"; }
.plottingfont-01020135:before { content: "\ea3f"; }
.plottingfont-01020136:before { content: "\ea40"; }
.plottingfont-01020137:before { content: "\ea41"; }
.plottingfont-01020138:before { content: "\ea42"; }
.plottingfont-01020139:before { content: "\ea43"; }
.plottingfont-01020140:before { content: "\ea44"; }
.plottingfont-01020141:before { content: "\ea45"; }
.plottingfont-01020142:before { content: "\ea46"; }
.plottingfont-01020143:before { content: "\ea47"; }
.plottingfont-010202:before { content: "\ea48"; }
.plottingfont-010203:before { content: "\ea49"; }
.plottingfont-010204:before { content: "\ea4a"; }
.plottingfont-01020401:before { content: "\ea4b"; }
.plottingfont-01020402:before { content: "\ea4c"; }
.plottingfont-01020403:before { content: "\ea4d"; }
.plottingfont-01020404:before { content: "\ea4e"; }
.plottingfont-01020405:before { content: "\ea4f"; }
.plottingfont-01020406:before { content: "\ea50"; }
.plottingfont-01020407:before { content: "\ea51"; }
.plottingfont-01020408:before { content: "\ea52"; }
.plottingfont-01020409:before { content: "\ea53"; }
.plottingfont-01020410:before { content: "\ea54"; }
.plottingfont-01020411:before { content: "\ea55"; }
.plottingfont-010301:before { content: "\ea56"; }
.plottingfont-01030101:before { content: "\ea57"; }
.plottingfont-01030102:before { content: "\ea58"; }
.plottingfont-010302:before { content: "\ea59"; }
.plottingfont-01030201:before { content: "\ea5a"; }
.plottingfont-01030202:before { content: "\ea5b"; }
.plottingfont-010303:before { content: "\ea5c"; }
.plottingfont-01030301:before { content: "\ea5d"; }
.plottingfont-01030302:before { content: "\ea5e"; }
.plottingfont-010304:before { content: "\ea5f"; }
.plottingfont-01030401:before { content: "\ea60"; }
.plottingfont-01030402:before { content: "\ea61"; }
.plottingfont-01030403:before { content: "\ea62"; }
.plottingfont-01030404:before { content: "\ea63"; }
.plottingfont-01030405:before { content: "\ea64"; }
.plottingfont-01030406:before { content: "\ea65"; }
.plottingfont-01030407:before { content: "\ea66"; }
.plottingfont-010305:before { content: "\ea67"; }
.plottingfont-020101:before { content: "\ea68"; }
.plottingfont-02010101:before { content: "\ea69"; }
.plottingfont-02010102:before { content: "\ea6a"; }
.plottingfont-02010103:before { content: "\ea6b"; }
.plottingfont-02010104:before { content: "\ea6c"; }
.plottingfont-020102:before { content: "\ea6d"; }
.plottingfont-02010201:before { content: "\ea6e"; }
.plottingfont-02010202:before { content: "\ea6f"; }
.plottingfont-020103:before { content: "\ea70"; }
.plottingfont-020201:before { content: "\ea71"; }
.plottingfont-02020101:before { content: "\ea72"; }
.plottingfont-02020102:before { content: "\ea73"; }
.plottingfont-02020103:before { content: "\ea74"; }
.plottingfont-02020104:before { content: "\ea75"; }
.plottingfont-02020105:before { content: "\ea76"; }
.plottingfont-02020106:before { content: "\ea77"; }
.plottingfont-020202:before { content: "\ea78"; }
.plottingfont-02020201:before { content: "\ea79"; }
.plottingfont-02020202:before { content: "\ea7a"; }
.plottingfont-020203:before { content: "\ea7b"; }
.plottingfont-020204:before { content: "\ea7c"; }
.plottingfont-02020401:before { content: "\ea7d"; }
.plottingfont-020205:before { content: "\ea7e"; }
.plottingfont-02020501:before { content: "\ea7f"; }
.plottingfont-020206:before { content: "\ea80"; }
.plottingfont-020301:before { content: "\ea81"; }
.plottingfont-02030101:before { content: "\ea82"; }
.plottingfont-02030102:before { content: "\ea83"; }
.plottingfont-02030103:before { content: "\ea84"; }
.plottingfont-02030104:before { content: "\ea85"; }
.plottingfont-02030105:before { content: "\ea86"; }
.plottingfont-02030106:before { content: "\ea87"; }
.plottingfont-020302:before { content: "\ea88"; }
.plottingfont-02030201:before { content: "\ea89"; }
.plottingfont-02030202:before { content: "\ea8a"; }
.plottingfont-02030203:before { content: "\ea8b"; }
.plottingfont-02030204:before { content: "\ea8c"; }
.plottingfont-020303:before { content: "\ea8d"; }
.plottingfont-02030301:before { content: "\ea8e"; }
.plottingfont-020304:before { content: "\ea8f"; }
.plottingfont-02030401:before { content: "\ea90"; }
.plottingfont-020305:before { content: "\ea91"; }
.plottingfont-02030501:before { content: "\ea92"; }
.plottingfont-020401:before { content: "\ea93"; }
.plottingfont-02040101:before { content: "\ea94"; }
.plottingfont-02040102:before { content: "\ea95"; }
.plottingfont-02040103:before { content: "\ea96"; }
.plottingfont-02040104:before { content: "\ea97"; }
.plottingfont-020402:before { content: "\ea98"; }
.plottingfont-02040201:before { content: "\ea99"; }
.plottingfont-02040202:before { content: "\ea9a"; }
.plottingfont-02040203:before { content: "\ea9b"; }
.plottingfont-020403:before { content: "\ea9c"; }
.plottingfont-02040301:before { content: "\ea9d"; }
.plottingfont-02040302:before { content: "\ea9e"; }
.plottingfont-02040303:before { content: "\ea9f"; }
.plottingfont-020404:before { content: "\eaa0"; }
.plottingfont-020405:before { content: "\eaa1"; }
.plottingfont-020406:before { content: "\eaa2"; }
.plottingfont-020407:before { content: "\eaa3"; }
.plottingfont-020408:before { content: "\eaa4"; }
.plottingfont-020501:before { content: "\eaa5"; }
.plottingfont-02050101:before { content: "\eaa6"; }
.plottingfont-020502:before { content: "\eaa7"; }
.plottingfont-020503:before { content: "\eaa8"; }
.plottingfont-02050301:before { content: "\eaa9"; }
.plottingfont-020504:before { content: "\eaaa"; }
.plottingfont-02050401:before { content: "\eaab"; }
.plottingfont-02050402:before { content: "\eaac"; }
.plottingfont-02050403:before { content: "\eaad"; }
.plottingfont-02050404:before { content: "\eaae"; }
.plottingfont-020505:before { content: "\eaaf"; }
.plottingfont-02050501:before { content: "\eab0"; }
.plottingfont-02050502:before { content: "\eab1"; }
.plottingfont-020506:before { content: "\eab2"; }
.plottingfont-020507:before { content: "\eab3"; }
.plottingfont-02050701:before { content: "\eab4"; }
.plottingfont-02050702:before { content: "\eab5"; }
.plottingfont-02050703:before { content: "\eab6"; }
.plottingfont-02050704:before { content: "\eab7"; }
.plottingfont-02050705:before { content: "\eab8"; }
.plottingfont-02050706:before { content: "\eab9"; }
.plottingfont-020508:before { content: "\eaba"; }
.plottingfont-02050801:before { content: "\eabb"; }
.plottingfont-02050802:before { content: "\eabc"; }
.plottingfont-020509:before { content: "\eabd"; }
.plottingfont-02050901:before { content: "\eabe"; }
.plottingfont-02050902:before { content: "\eabf"; }
.plottingfont-02050903:before { content: "\eac0"; }
.plottingfont-02050904:before { content: "\eac1"; }
.plottingfont-020510:before { content: "\eac2"; }
.plottingfont-02051001:before { content: "\eac3"; }
.plottingfont-02051002:before { content: "\eac4"; }
.plottingfont-02051003:before { content: "\eac5"; }
.plottingfont-02051004:before { content: "\eac6"; }
.plottingfont-02051005:before { content: "\eac7"; }
.plottingfont-020511:before { content: "\eac8"; }
.plottingfont-02051101:before { content: "\eac9"; }
.plottingfont-020601:before { content: "\eaca"; }
.plottingfont-020602:before { content: "\eacb"; }
.plottingfont-02060201:before { content: "\eacc"; }
.plottingfont-020603:before { content: "\eacd"; }
.plottingfont-020604:before { content: "\eace"; }
.plottingfont-020605:before { content: "\eacf"; }
.plottingfont-02060501:before { content: "\ead0"; }
.plottingfont-020606:before { content: "\ead1"; }
.plottingfont-020607:before { content: "\ead2"; }
.plottingfont-020608:before { content: "\ead3"; }
.plottingfont-020609:before { content: "\ead4"; }
.plottingfont-020610:before { content: "\ead5"; }
.plottingfont-02061001:before { content: "\ead6"; }
.plottingfont-020611:before { content: "\ead7"; }
.plottingfont-020612:before { content: "\ead8"; }
.plottingfont-02061201:before { content: "\ead9"; }
.plottingfont-02061202:before { content: "\eada"; }
.plottingfont-020613:before { content: "\eadb"; }
.plottingfont-020614:before { content: "\eadc"; }
.plottingfont-020615:before { content: "\eadd"; }
.plottingfont-02061501:before { content: "\eade"; }
.plottingfont-02061502:before { content: "\eadf"; }
.plottingfont-02061503:before { content: "\eae0"; }
.plottingfont-02061504:before { content: "\eae1"; }
.plottingfont-02061505:before { content: "\eae2"; }
.plottingfont-02061506:before { content: "\eae3"; }
.plottingfont-02061507:before { content: "\eae4"; }
.plottingfont-020616:before { content: "\eae5"; }
.plottingfont-020617:before { content: "\eae6"; }
.plottingfont-020701:before { content: "\eae7"; }
.plottingfont-020702:before { content: "\eae8"; }
.plottingfont-02070201:before { content: "\eae9"; }
.plottingfont-020703:before { content: "\eaea"; }
.plottingfont-02070301:before { content: "\eaeb"; }
.plottingfont-02070302:before { content: "\eaec"; }
.plottingfont-02070303:before { content: "\eaed"; }
.plottingfont-02070304:before { content: "\eaee"; }
.plottingfont-02070305:before { content: "\eaef"; }
.plottingfont-020704:before { content: "\eaf0"; }
.plottingfont-02070401:before { content: "\eaf1"; }
.plottingfont-020705:before { content: "\eaf2"; }
.plottingfont-020706:before { content: "\eaf3"; }
.plottingfont-020707:before { content: "\eaf4"; }
.plottingfont-020801:before { content: "\eaf5"; }
.plottingfont-020802:before { content: "\eaf6"; }
.plottingfont-020803:before { content: "\eaf7"; }
.plottingfont-020804:before { content: "\eaf8"; }
.plottingfont-020805:before { content: "\eaf9"; }
.plottingfont-02080501:before { content: "\eafa"; }
.plottingfont-02080502:before { content: "\eafb"; }
.plottingfont-02080503:before { content: "\eafc"; }
.plottingfont-020806:before { content: "\eafd"; }
.plottingfont-020807:before { content: "\eafe"; }
.plottingfont-020808:before { content: "\eaff"; }
.plottingfont-020809:before { content: "\eb00"; }
.plottingfont-020810:before { content: "\eb01"; }
.plottingfont-020811:before { content: "\eb02"; }
.plottingfont-020812:before { content: "\eb03"; }
.plottingfont-020813:before { content: "\eb04"; }
.plottingfont-020814:before { content: "\eb05"; }
.plottingfont-020901:before { content: "\eb06"; }
.plottingfont-020902:before { content: "\eb07"; }
.plottingfont-020903:before { content: "\eb08"; }
.plottingfont-021001:before { content: "\eb09"; }
.plottingfont-02100101:before { content: "\eb0a"; }
.plottingfont-02100102:before { content: "\eb0b"; }
.plottingfont-02100103:before { content: "\eb0c"; }
.plottingfont-02100104:before { content: "\eb0d"; }
.plottingfont-02100105:before { content: "\eb0e"; }
.plottingfont-02100106:before { content: "\eb0f"; }
.plottingfont-02100107:before { content: "\eb10"; }
.plottingfont-021002:before { content: "\eb11"; }
.plottingfont-021003:before { content: "\eb12"; }
.plottingfont-02100301:before { content: "\eb13"; }
.plottingfont-021004:before { content: "\eb14"; }
.plottingfont-021005:before { content: "\eb15"; }
.plottingfont-02100501:before { content: "\eb16"; }
.plottingfont-021006:before { content: "\eb17"; }
.plottingfont-02100601:before { content: "\eb18"; }
.plottingfont-021007:before { content: "\eb19"; }
.plottingfont-02100701:before { content: "\eb1a"; }
.plottingfont-021008:before { content: "\eb1b"; }
.plottingfont-02100801:before { content: "\eb1c"; }
.plottingfont-021009:before { content: "\eb1d"; }
.plottingfont-021010:before { content: "\eb1e"; }
.plottingfont-02101001:before { content: "\eb1f"; }
.plottingfont-021011:before { content: "\eb20"; }
.plottingfont-021012:before { content: "\eb21"; }
.plottingfont-021013:before { content: "\eb22"; }
.plottingfont-021014:before { content: "\eb23"; }
.plottingfont-021015:before { content: "\eb24"; }
.plottingfont-02101501:before { content: "\eb25"; }
.plottingfont-02101502:before { content: "\eb26"; }
.plottingfont-021016:before { content: "\eb27"; }
.plottingfont-021017:before { content: "\eb28"; }
.plottingfont-021018:before { content: "\eb29"; }
.plottingfont-021019:before { content: "\eb2a"; }
.plottingfont-02101901:before { content: "\eb2b"; }
.plottingfont-02101902:before { content: "\eb2c"; }
.plottingfont-021020:before { content: "\eb2d"; }
.plottingfont-021021:before { content: "\eb2e"; }
.plottingfont-021022:before { content: "\eb2f"; }
.plottingfont-021101:before { content: "\eb30"; }
.plottingfont-02110101:before { content: "\eb31"; }
.plottingfont-02110102:before { content: "\eb32"; }
.plottingfont-02110103:before { content: "\eb33"; }
.plottingfont-02110104:before { content: "\eb34"; }
.plottingfont-02110105:before { content: "\eb35"; }
.plottingfont-021102:before { content: "\eb36"; }
.plottingfont-021103:before { content: "\eb37"; }
.plottingfont-021104:before { content: "\eb38"; }
.plottingfont-021105:before { content: "\eb39"; }
.plottingfont-021106:before { content: "\eb3a"; }
.plottingfont-02110601:before { content: "\eb3b"; }
.plottingfont-021201:before { content: "\eb3c"; }
.plottingfont-021202:before { content: "\eb3d"; }
.plottingfont-02120201:before { content: "\eb3e"; }
.plottingfont-021203:before { content: "\eb3f"; }
.plottingfont-02120301:before { content: "\eb40"; }
.plottingfont-021301:before { content: "\eb41"; }
.plottingfont-021302:before { content: "\eb42"; }
.plottingfont-021303:before { content: "\eb43"; }
.plottingfont-02130301:before { content: "\eb44"; }
.plottingfont-02130302:before { content: "\eb45"; }
.plottingfont-02130303:before { content: "\eb46"; }
.plottingfont-02130304:before { content: "\eb47"; }
.plottingfont-021304:before { content: "\eb48"; }
.plottingfont-021305:before { content: "\eb49"; }
.plottingfont-021306:before { content: "\eb4a"; }
.plottingfont-02130601:before { content: "\eb4b"; }
.plottingfont-02130602:before { content: "\eb4c"; }
.plottingfont-02130603:before { content: "\eb4d"; }
.plottingfont-021307:before { content: "\eb4e"; }
.plottingfont-021401:before { content: "\eb4f"; }
.plottingfont-02140101:before { content: "\eb50"; }
.plottingfont-021402:before { content: "\eb51"; }
.plottingfont-02140201:before { content: "\eb52"; }
.plottingfont-02140202:before { content: "\eb53"; }
.plottingfont-02140203:before { content: "\eb54"; }
.plottingfont-021403:before { content: "\eb55"; }
.plottingfont-021501:before { content: "\eb56"; }
.plottingfont-02150101:before { content: "\eb57"; }
.plottingfont-02150102:before { content: "\eb58"; }
.plottingfont-021502:before { content: "\eb59"; }
.plottingfont-021503:before { content: "\eb5a"; }
.plottingfont-02150301:before { content: "\eb5b"; }
.plottingfont-02150302:before { content: "\eb5c"; }
.plottingfont-021504:before { content: "\eb5d"; }
.plottingfont-02150401:before { content: "\eb5e"; }
.plottingfont-021505:before { content: "\eb5f"; }
.plottingfont-02150501:before { content: "\eb60"; }
.plottingfont-021506:before { content: "\eb61"; }
.plottingfont-02150601:before { content: "\eb62"; }
.plottingfont-021507:before { content: "\eb63"; }
.plottingfont-02150701:before { content: "\eb64"; }
.plottingfont-02150702:before { content: "\eb65"; }
.plottingfont-02150703:before { content: "\eb66"; }
.plottingfont-02150704:before { content: "\eb67"; }
.plottingfont-02150705:before { content: "\eb68"; }
.plottingfont-02150706:before { content: "\eb69"; }
.plottingfont-021508:before { content: "\eb6a"; }
.plottingfont-021509:before { content: "\eb6b"; }
.plottingfont-02150901:before { content: "\eb6c"; }
.plottingfont-021510:before { content: "\eb6d"; }
.plottingfont-021511:before { content: "\eb6e"; }
.plottingfont-02151101:before { content: "\eb6f"; }
.plottingfont-02151102:before { content: "\eb70"; }
.plottingfont-02151103:before { content: "\eb71"; }
.plottingfont-021512:before { content: "\eb72"; }
.plottingfont-021513:before { content: "\eb73"; }
.plottingfont-021514:before { content: "\eb74"; }
.plottingfont-021515:before { content: "\eb75"; }
.plottingfont-021516:before { content: "\eb76"; }
.plottingfont-021517:before { content: "\eb77"; }
.plottingfont-021518:before { content: "\eb78"; }
.plottingfont-021519:before { content: "\eb79"; }
.plottingfont-021520:before { content: "\eb7a"; }
.plottingfont-021521:before { content: "\eb7b"; }
.plottingfont-021522:before { content: "\eb7c"; }
.plottingfont-02152201:before { content: "\eb7d"; }
.plottingfont-02152202:before { content: "\eb7e"; }
.plottingfont-02152203:before { content: "\eb7f"; }
.plottingfont-021523:before { content: "\eb80"; }
.plottingfont-02152301:before { content: "\eb81"; }
.plottingfont-02152302:before { content: "\eb82"; }
.plottingfont-021524:before { content: "\eb83"; }
.plottingfont-02152401:before { content: "\eb84"; }
.plottingfont-02152402:before { content: "\eb85"; }
.plottingfont-021525:before { content: "\eb86"; }
.plottingfont-021526:before { content: "\eb87"; }
.plottingfont-02152601:before { content: "\eb88"; }
.plottingfont-02152602:before { content: "\eb89"; }
.plottingfont-02152603:before { content: "\eb8a"; }
.plottingfont-02152604:before { content: "\eb8b"; }
.plottingfont-02152605:before { content: "\eb8c"; }
.plottingfont-021527:before { content: "\eb8d"; }
.plottingfont-02152701:before { content: "\eb8e"; }
.plottingfont-02152702:before { content: "\eb8f"; }
.plottingfont-02152703:before { content: "\eb90"; }
.plottingfont-02152704:before { content: "\eb91"; }
.plottingfont-02152705:before { content: "\eb92"; }
.plottingfont-02152706:before { content: "\eb93"; }
.plottingfont-021528:before { content: "\eb94"; }
.plottingfont-02152801:before { content: "\eb95"; }
.plottingfont-021529:before { content: "\eb96"; }
.plottingfont-021530:before { content: "\eb97"; }
.plottingfont-021531:before { content: "\eb98"; }
.plottingfont-021532:before { content: "\eb99"; }
.plottingfont-02153201:before { content: "\eb9a"; }
.plottingfont-02153202:before { content: "\eb9b"; }
.plottingfont-02153203:before { content: "\eb9c"; }
.plottingfont-02153204:before { content: "\eb9d"; }
.plottingfont-02153205:before { content: "\eb9e"; }
.plottingfont-02153206:before { content: "\eb9f"; }
.plottingfont-021533:before { content: "\eba0"; }
.plottingfont-021601:before { content: "\eba1"; }
.plottingfont-02160101:before { content: "\eba2"; }
.plottingfont-02160102:before { content: "\eba3"; }
.plottingfont-02160103:before { content: "\eba4"; }
.plottingfont-021602:before { content: "\eba5"; }
.plottingfont-021603:before { content: "\eba6"; }
.plottingfont-021604:before { content: "\eba7"; }
.plottingfont-021605:before { content: "\eba8"; }
.plottingfont-021606:before { content: "\eba9"; }
.plottingfont-021701:before { content: "\ebaa"; }
.plottingfont-021702:before { content: "\ebab"; }
.plottingfont-02170201:before { content: "\ebac"; }
.plottingfont-021703:before { content: "\ebad"; }
.plottingfont-021704:before { content: "\ebae"; }
.plottingfont-021705:before { content: "\ebaf"; }
.plottingfont-021706:before { content: "\ebb0"; }
.plottingfont-02170601:before { content: "\ebb1"; }
.plottingfont-021801:before { content: "\ebb2"; }
.plottingfont-02180101:before { content: "\ebb3"; }
.plottingfont-02180102:before { content: "\ebb4"; }
.plottingfont-02180103:before { content: "\ebb5"; }
.plottingfont-02180104:before { content: "\ebb6"; }
.plottingfont-02180105:before { content: "\ebb7"; }
.plottingfont-021802:before { content: "\ebb8"; }
.plottingfont-02180201:before { content: "\ebb9"; }
.plottingfont-02180202:before { content: "\ebba"; }
.plottingfont-021803:before { content: "\ebbb"; }
.plottingfont-02180301:before { content: "\ebbc"; }
.plottingfont-021804:before { content: "\ebbd"; }
.plottingfont-021805:before { content: "\ebbe"; }
.plottingfont-02180501:before { content: "\ebbf"; }
.plottingfont-021806:before { content: "\ebc0"; }
.plottingfont-02180601:before { content: "\ebc1"; }
.plottingfont-021807:before { content: "\ebc2"; }
.plottingfont-02180701:before { content: "\ebc3"; }
.plottingfont-021808:before { content: "\ebc4"; }
.plottingfont-021809:before { content: "\ebc5"; }
.plottingfont-02180901:before { content: "\ebc6"; }
.plottingfont-02180902:before { content: "\ebc7"; }
.plottingfont-021810:before { content: "\ebc8"; }
.plottingfont-021811:before { content: "\ebc9"; }
.plottingfont-02181101:before { content: "\ebca"; }
.plottingfont-02181102:before { content: "\ebcb"; }
.plottingfont-02181103:before { content: "\ebcc"; }
.plottingfont-021901:before { content: "\ebcd"; }
.plottingfont-021902:before { content: "\ebce"; }
.plottingfont-02190201:before { content: "\ebcf"; }
.plottingfont-021903:before { content: "\ebd0"; }
.plottingfont-021904:before { content: "\ebd1"; }
.plottingfont-021905:before { content: "\ebd2"; }
.plottingfont-021906:before { content: "\ebd3"; }
.plottingfont-030101:before { content: "\ebd4"; }
.plottingfont-03010101:before { content: "\ebd5"; }
.plottingfont-03010102:before { content: "\ebd6"; }
.plottingfont-03010103:before { content: "\ebd7"; }
.plottingfont-03010104:before { content: "\ebd8"; }
.plottingfont-03010105:before { content: "\ebd9"; }
.plottingfont-03010106:before { content: "\ebda"; }
.plottingfont-03010107:before { content: "\ebdb"; }
.plottingfont-03010108:before { content: "\ebdc"; }
.plottingfont-03010109:before { content: "\ebdd"; }
.plottingfont-030102:before { content: "\ebde"; }
.plottingfont-03010201:before { content: "\ebdf"; }
.plottingfont-03010202:before { content: "\ebe0"; }
.plottingfont-03010203:before { content: "\ebe1"; }
.plottingfont-03010204:before { content: "\ebe2"; }
.plottingfont-030103:before { content: "\ebe3"; }
.plottingfont-03010301:before { content: "\ebe4"; }
.plottingfont-03010302:before { content: "\ebe5"; }
.plottingfont-03010303:before { content: "\ebe6"; }
.plottingfont-03010304:before { content: "\ebe7"; }
.plottingfont-030104:before { content: "\ebe8"; }
.plottingfont-03010401:before { content: "\ebe9"; }
.plottingfont-030105:before { content: "\ebea"; }
.plottingfont-030106:before { content: "\ebeb"; }
.plottingfont-030107:before { content: "\ebec"; }
.plottingfont-030108:before { content: "\ebed"; }
.plottingfont-03010801:before { content: "\ebee"; }
.plottingfont-03010802:before { content: "\ebef"; }
.plottingfont-03010803:before { content: "\ebf0"; }
.plottingfont-030109:before { content: "\ebf1"; }
.plottingfont-030110:before { content: "\ebf2"; }
.plottingfont-03011001:before { content: "\ebf3"; }
.plottingfont-03011002:before { content: "\ebf4"; }
.plottingfont-03011003:before { content: "\ebf5"; }
.plottingfont-030111:before { content: "\ebf6"; }
.plottingfont-030112:before { content: "\ebf7"; }
.plottingfont-03011201:before { content: "\ebf8"; }
.plottingfont-030201:before { content: "\ebf9"; }
.plottingfont-03020101:before { content: "\ebfa"; }
.plottingfont-03020102:before { content: "\ebfb"; }
.plottingfont-03020103:before { content: "\ebfc"; }
.plottingfont-030202:before { content: "\ebfd"; }
.plottingfont-03020201:before { content: "\ebfe"; }
.plottingfont-030203:before { content: "\ebff"; }
.plottingfont-030204:before { content: "\ec00"; }
.plottingfont-030205:before { content: "\ec01"; }
.plottingfont-030206:before { content: "\ec02"; }
.plottingfont-03020601:before { content: "\ec03"; }
.plottingfont-03020602:before { content: "\ec04"; }
.plottingfont-030207:before { content: "\ec05"; }
.plottingfont-03020701:before { content: "\ec06"; }
.plottingfont-03020702:before { content: "\ec07"; }
.plottingfont-03020703:before { content: "\ec08"; }
.plottingfont-03020704:before { content: "\ec09"; }
.plottingfont-03020705:before { content: "\ec0a"; }
.plottingfont-03020706:before { content: "\ec0b"; }
.plottingfont-03020707:before { content: "\ec0c"; }
.plottingfont-03020708:before { content: "\ec0d"; }
.plottingfont-03020709:before { content: "\ec0e"; }
.plottingfont-03020710:before { content: "\ec0f"; }
.plottingfont-03020711:before { content: "\ec10"; }
.plottingfont-03020712:before { content: "\ec11"; }
.plottingfont-03020713:before { content: "\ec12"; }
.plottingfont-03020714:before { content: "\ec13"; }
.plottingfont-030208:before { content: "\ec14"; }
.plottingfont-03020801:before { content: "\ec15"; }
.plottingfont-03020802:before { content: "\ec16"; }
.plottingfont-030209:before { content: "\ec17"; }
.plottingfont-03020901:before { content: "\ec18"; }
.plottingfont-03020902:before { content: "\ec19"; }
.plottingfont-03020903:before { content: "\ec1a"; }
.plottingfont-03020904:before { content: "\ec1b"; }
.plottingfont-03020905:before { content: "\ec1c"; }
.plottingfont-03020906:before { content: "\ec1d"; }
.plottingfont-030210:before { content: "\ec1e"; }
.plottingfont-030211:before { content: "\ec1f"; }
.plottingfont-030212:before { content: "\ec20"; }
.plottingfont-030213:before { content: "\ec21"; }
.plottingfont-030214:before { content: "\ec22"; }
.plottingfont-03021401:before { content: "\ec23"; }
.plottingfont-03021402:before { content: "\ec24"; }
.plottingfont-03021403:before { content: "\ec25"; }
.plottingfont-030215:before { content: "\ec26"; }
.plottingfont-030216:before { content: "\ec27"; }
.plottingfont-03021601:before { content: "\ec28"; }
.plottingfont-030217:before { content: "\ec29"; }
.plottingfont-03021701:before { content: "\ec2a"; }
.plottingfont-030218:before { content: "\ec2b"; }
.plottingfont-03021801:before { content: "\ec2c"; }
.plottingfont-03021802:before { content: "\ec2d"; }
.plottingfont-03021803:before { content: "\ec2e"; }
.plottingfont-03021804:before { content: "\ec2f"; }
.plottingfont-030219:before { content: "\ec30"; }
.plottingfont-030220:before { content: "\ec31"; }
.plottingfont-03022001:before { content: "\ec32"; }
.plottingfont-030221:before { content: "\ec33"; }
.plottingfont-030222:before { content: "\ec34"; }
.plottingfont-030223:before { content: "\ec35"; }
.plottingfont-030224:before { content: "\ec36"; }
.plottingfont-03022401:before { content: "\ec37"; }
.plottingfont-03022402:before { content: "\ec38"; }
.plottingfont-030301:before { content: "\ec39"; }
.plottingfont-03030101:before { content: "\ec3a"; }
.plottingfont-030302:before { content: "\ec3b"; }
.plottingfont-03030201:before { content: "\ec3c"; }
.plottingfont-030303:before { content: "\ec3d"; }
.plottingfont-03030301:before { content: "\ec3e"; }
.plottingfont-03030302:before { content: "\ec3f"; }
.plottingfont-03030303:before { content: "\ec40"; }
.plottingfont-03030304:before { content: "\ec41"; }
.plottingfont-03030305:before { content: "\ec42"; }
.plottingfont-03030306:before { content: "\ec43"; }
.plottingfont-03030307:before { content: "\ec44"; }
.plottingfont-03030308:before { content: "\ec45"; }
.plottingfont-030304:before { content: "\ec46"; }
.plottingfont-03030401:before { content: "\ec47"; }
.plottingfont-030305:before { content: "\ec48"; }
.plottingfont-03030501:before { content: "\ec49"; }
.plottingfont-030306:before { content: "\ec4a"; }
.plottingfont-03030601:before { content: "\ec4b"; }
.plottingfont-03030602:before { content: "\ec4c"; }
.plottingfont-03030603:before { content: "\ec4d"; }
.plottingfont-030307:before { content: "\ec4e"; }
.plottingfont-03030701:before { content: "\ec4f"; }
.plottingfont-030308:before { content: "\ec50"; }
.plottingfont-03030801:before { content: "\ec51"; }
.plottingfont-03030802:before { content: "\ec52"; }
.plottingfont-03030803:before { content: "\ec53"; }
.plottingfont-03030804:before { content: "\ec54"; }
.plottingfont-03030805:before { content: "\ec55"; }
.plottingfont-030309:before { content: "\ec56"; }
.plottingfont-03030901:before { content: "\ec57"; }
.plottingfont-030310:before { content: "\ec58"; }
.plottingfont-03031001:before { content: "\ec59"; }
.plottingfont-030311:before { content: "\ec5a"; }
.plottingfont-03031101:before { content: "\ec5b"; }
.plottingfont-030312:before { content: "\ec5c"; }
.plottingfont-03031201:before { content: "\ec5d"; }
.plottingfont-03031202:before { content: "\ec5e"; }
.plottingfont-030313:before { content: "\ec5f"; }
.plottingfont-03031301:before { content: "\ec60"; }
.plottingfont-03031302:before { content: "\ec61"; }
.plottingfont-030314:before { content: "\ec62"; }
.plottingfont-030315:before { content: "\ec63"; }
.plottingfont-03031501:before { content: "\ec64"; }
.plottingfont-030316:before { content: "\ec65"; }
.plottingfont-03031601:before { content: "\ec66"; }
.plottingfont-03031602:before { content: "\ec67"; }
.plottingfont-03031603:before { content: "\ec68"; }
.plottingfont-030317:before { content: "\ec69"; }
.plottingfont-03031701:before { content: "\ec6a"; }
.plottingfont-030318:before { content: "\ec6b"; }
.plottingfont-030319:before { content: "\ec6c"; }
.plottingfont-030320:before { content: "\ec6d"; }
.plottingfont-030321:before { content: "\ec6e"; }
.plottingfont-03032101:before { content: "\ec6f"; }
.plottingfont-030322:before { content: "\ec70"; }
.plottingfont-030323:before { content: "\ec71"; }
.plottingfont-030324:before { content: "\ec72"; }
.plottingfont-03032401:before { content: "\ec73"; }
.plottingfont-030325:before { content: "\ec74"; }
.plottingfont-03032501:before { content: "\ec75"; }
.plottingfont-03032502:before { content: "\ec76"; }
.plottingfont-030326:before { content: "\ec77"; }
.plottingfont-03032601:before { content: "\ec78"; }
.plottingfont-03032602:before { content: "\ec79"; }
.plottingfont-030327:before { content: "\ec7a"; }
.plottingfont-03032701:before { content: "\ec7b"; }
.plottingfont-03032702:before { content: "\ec7c"; }
.plottingfont-03032703:before { content: "\ec7d"; }
.plottingfont-030328:before { content: "\ec7e"; }
.plottingfont-03032801:before { content: "\ec7f"; }
.plottingfont-030329:before { content: "\ec80"; }
.plottingfont-03032901:before { content: "\ec81"; }
.plottingfont-03032902:before { content: "\ec82"; }
.plottingfont-030330:before { content: "\ec83"; }
.plottingfont-03033001:before { content: "\ec84"; }
.plottingfont-03033002:before { content: "\ec85"; }
.plottingfont-03033003:before { content: "\ec86"; }
.plottingfont-030331:before { content: "\ec87"; }
.plottingfont-030332:before { content: "\ec88"; }
.plottingfont-030333:before { content: "\ec89"; }
.plottingfont-03033301:before { content: "\ec8a"; }
.plottingfont-030334:before { content: "\ec8b"; }
.plottingfont-03033401:before { content: "\ec8c"; }
.plottingfont-030335:before { content: "\ec8d"; }
.plottingfont-040101:before { content: "\ec8e"; }
.plottingfont-04010101:before { content: "\ec8f"; }
.plottingfont-04010102:before { content: "\ec90"; }
.plottingfont-04010103:before { content: "\ec91"; }
.plottingfont-04010104:before { content: "\ec92"; }
.plottingfont-040102:before { content: "\ec93"; }
.plottingfont-04010201:before { content: "\ec94"; }
.plottingfont-04010202:before { content: "\ec95"; }
.plottingfont-04010203:before { content: "\ec96"; }
.plottingfont-04010204:before { content: "\ec97"; }
.plottingfont-040103:before { content: "\ec98"; }
.plottingfont-04010301:before { content: "\ec99"; }
.plottingfont-04010302:before { content: "\ec9a"; }
.plottingfont-040104:before { content: "\ec9b"; }
.plottingfont-04010401:before { content: "\ec9c"; }
.plottingfont-04010402:before { content: "\ec9d"; }
.plottingfont-040105:before { content: "\ec9e"; }
.plottingfont-04010501:before { content: "\ec9f"; }
.plottingfont-040106:before { content: "\eca0"; }
.plottingfont-04010601:before { content: "\eca1"; }
.plottingfont-04010602:before { content: "\eca2"; }
.plottingfont-04010603:before { content: "\eca3"; }
.plottingfont-04010604:before { content: "\eca4"; }
.plottingfont-040107:before { content: "\eca5"; }
.plottingfont-04010701:before { content: "\eca6"; }
.plottingfont-04010702:before { content: "\eca7"; }
.plottingfont-040108:before { content: "\eca8"; }
.plottingfont-04010801:before { content: "\eca9"; }
.plottingfont-040109:before { content: "\ecaa"; }
.plottingfont-04010901:before { content: "\ecab"; }
.plottingfont-04010902:before { content: "\ecac"; }
.plottingfont-04010903:before { content: "\ecad"; }
.plottingfont-04010904:before { content: "\ecae"; }
.plottingfont-040110:before { content: "\ecaf"; }
.plottingfont-04011001:before { content: "\ecb0"; }
.plottingfont-040111:before { content: "\ecb1"; }
.plottingfont-040112:before { content: "\ecb2"; }
.plottingfont-040113:before { content: "\ecb3"; }
.plottingfont-04011301:before { content: "\ecb4"; }
.plottingfont-040201:before { content: "\ecb5"; }
.plottingfont-040202:before { content: "\ecb6"; }
.plottingfont-04020201:before { content: "\ecb7"; }
.plottingfont-04020202:before { content: "\ecb8"; }
.plottingfont-04020203:before { content: "\ecb9"; }
.plottingfont-04020204:before { content: "\ecba"; }
.plottingfont-04020205:before { content: "\ecbb"; }
.plottingfont-04020206:before { content: "\ecbc"; }
.plottingfont-040203:before { content: "\ecbd"; }
.plottingfont-04020301:before { content: "\ecbe"; }
.plottingfont-04020302:before { content: "\ecbf"; }
.plottingfont-04020303:before { content: "\ecc0"; }
.plottingfont-04020304:before { content: "\ecc1"; }
.plottingfont-040204:before { content: "\ecc2"; }
.plottingfont-04020401:before { content: "\ecc3"; }
.plottingfont-04020402:before { content: "\ecc4"; }
.plottingfont-040205:before { content: "\ecc5"; }
.plottingfont-04020501:before { content: "\ecc6"; }
.plottingfont-04020502:before { content: "\ecc7"; }
.plottingfont-040206:before { content: "\ecc8"; }
.plottingfont-04020601:before { content: "\ecc9"; }
.plottingfont-040207:before { content: "\ecca"; }
.plottingfont-04020701:before { content: "\eccb"; }
.plottingfont-04020702:before { content: "\eccc"; }
.plottingfont-040208:before { content: "\eccd"; }
.plottingfont-04020801:before { content: "\ecce"; }
.plottingfont-04020802:before { content: "\eccf"; }
.plottingfont-040209:before { content: "\ecd0"; }
.plottingfont-040210:before { content: "\ecd1"; }
.plottingfont-04021001:before { content: "\ecd2"; }
.plottingfont-040211:before { content: "\ecd3"; }
.plottingfont-04021101:before { content: "\ecd4"; }
.plottingfont-04021102:before { content: "\ecd5"; }
.plottingfont-040212:before { content: "\ecd6"; }
.plottingfont-040213:before { content: "\ecd7"; }
.plottingfont-040214:before { content: "\ecd8"; }
.plottingfont-04021401:before { content: "\ecd9"; }
.plottingfont-040215:before { content: "\ecda"; }
.plottingfont-04021501:before { content: "\ecdb"; }
.plottingfont-040216:before { content: "\ecdc"; }
.plottingfont-04021601:before { content: "\ecdd"; }
.plottingfont-04021602:before { content: "\ecde"; }
.plottingfont-04021603:before { content: "\ecdf"; }
.plottingfont-04021604:before { content: "\ece0"; }
.plottingfont-040217:before { content: "\ece1"; }
.plottingfont-04021701:before { content: "\ece2"; }
.plottingfont-040218:before { content: "\ece3"; }
.plottingfont-04021801:before { content: "\ece4"; }
.plottingfont-04021802:before { content: "\ece5"; }
.plottingfont-04021803:before { content: "\ece6"; }
.plottingfont-040219:before { content: "\ece7"; }
.plottingfont-04021901:before { content: "\ece8"; }
.plottingfont-040220:before { content: "\ece9"; }
.plottingfont-04022001:before { content: "\ecea"; }
.plottingfont-040221:before { content: "\eceb"; }
.plottingfont-04022101:before { content: "\ecec"; }
.plottingfont-04022102:before { content: "\eced"; }
.plottingfont-04022103:before { content: "\ecee"; }
.plottingfont-040222:before { content: "\ecef"; }
.plottingfont-04022201:before { content: "\ecf0"; }
.plottingfont-04022202:before { content: "\ecf1"; }
.plottingfont-040223:before { content: "\ecf2"; }
.plottingfont-040224:before { content: "\ecf3"; }
.plottingfont-040225:before { content: "\ecf4"; }
.plottingfont-040226:before { content: "\ecf5"; }
.plottingfont-040700:before { content: "\ecf6"; }
.plottingfont-050101:before { content: "\ecf7"; }
.plottingfont-05010101:before { content: "\ecf8"; }
.plottingfont-05010102:before { content: "\ecf9"; }
.plottingfont-050102:before { content: "\ecfa"; }
.plottingfont-05010201:before { content: "\ecfb"; }
.plottingfont-05010202:before { content: "\ecfc"; }
.plottingfont-05010203:before { content: "\ecfd"; }
.plottingfont-050103:before { content: "\ecfe"; }
.plottingfont-050104:before { content: "\ecff"; }
.plottingfont-050105:before { content: "\ed00"; }
.plottingfont-050106:before { content: "\ed01"; }
.plottingfont-050107:before { content: "\ed02"; }
.plottingfont-050108:before { content: "\ed03"; }
.plottingfont-050109:before { content: "\ed04"; }
.plottingfont-05010901:before { content: "\ed05"; }
.plottingfont-05010902:before { content: "\ed06"; }
.plottingfont-050110:before { content: "\ed07"; }
.plottingfont-050201:before { content: "\ed08"; }
.plottingfont-05020101:before { content: "\ed09"; }
.plottingfont-05020102:before { content: "\ed0a"; }
.plottingfont-05020103:before { content: "\ed0b"; }
.plottingfont-05020104:before { content: "\ed0c"; }
.plottingfont-050202:before { content: "\ed0d"; }
.plottingfont-05020201:before { content: "\ed0e"; }
.plottingfont-050203:before { content: "\ed0f"; }
.plottingfont-05020301:before { content: "\ed10"; }
.plottingfont-050204:before { content: "\ed11"; }
.plottingfont-05020401:before { content: "\ed12"; }
.plottingfont-050205:before { content: "\ed13"; }
.plottingfont-050206:before { content: "\ed14"; }
.plottingfont-05020601:before { content: "\ed15"; }
.plottingfont-050207:before { content: "\ed16"; }
.plottingfont-05020701:before { content: "\ed17"; }
.plottingfont-05020702:before { content: "\ed18"; }
.plottingfont-050208:before { content: "\ed19"; }
.plottingfont-05020801:before { content: "\ed1a"; }
.plottingfont-050209:before { content: "\ed1b"; }
.plottingfont-05020901:before { content: "\ed1c"; }
.plottingfont-05020902:before { content: "\ed1d"; }
.plottingfont-050210:before { content: "\ed1e"; }
.plottingfont-050211:before { content: "\ed1f"; }
.plottingfont-050212:before { content: "\ed20"; }
.plottingfont-05021201:before { content: "\ed21"; }
.plottingfont-050213:before { content: "\ed22"; }
.plottingfont-05021301:before { content: "\ed23"; }
.plottingfont-05021302:before { content: "\ed24"; }
.plottingfont-050214:before { content: "\ed25"; }
.plottingfont-050215:before { content: "\ed26"; }
.plottingfont-05021501:before { content: "\ed27"; }
.plottingfont-050216:before { content: "\ed28"; }
.plottingfont-05021601:before { content: "\ed29"; }
.plottingfont-05021602:before { content: "\ed2a"; }
.plottingfont-050217:before { content: "\ed2b"; }
.plottingfont-05021701:before { content: "\ed2c"; }
.plottingfont-050218:before { content: "\ed2d"; }
.plottingfont-050219:before { content: "\ed2e"; }
.plottingfont-060101:before { content: "\ed2f"; }
.plottingfont-06010101:before { content: "\ed30"; }
.plottingfont-06010102:before { content: "\ed31"; }
.plottingfont-06010103:before { content: "\ed32"; }
.plottingfont-06010104:before { content: "\ed33"; }
.plottingfont-060102:before { content: "\ed34"; }
.plottingfont-06010201:before { content: "\ed35"; }
.plottingfont-06010202:before { content: "\ed36"; }
.plottingfont-06010203:before { content: "\ed37"; }
.plottingfont-06010204:before { content: "\ed38"; }
.plottingfont-060103:before { content: "\ed39"; }
.plottingfont-06010301:before { content: "\ed3a"; }
.plottingfont-060104:before { content: "\ed3b"; }
.plottingfont-06010401:before { content: "\ed3c"; }
.plottingfont-060105:before { content: "\ed3d"; }
.plottingfont-06010501:before { content: "\ed3e"; }
.plottingfont-060106:before { content: "\ed3f"; }
.plottingfont-06010601:before { content: "\ed40"; }
.plottingfont-06010602:before { content: "\ed41"; }
.plottingfont-060107:before { content: "\ed42"; }
.plottingfont-06010701:before { content: "\ed43"; }
.plottingfont-06010702:before { content: "\ed44"; }
.plottingfont-060201:before { content: "\ed45"; }
.plottingfont-06020101:before { content: "\ed46"; }
.plottingfont-060202:before { content: "\ed47"; }
.plottingfont-060203:before { content: "\ed48"; }
.plottingfont-060204:before { content: "\ed49"; }
.plottingfont-06020401:before { content: "\ed4a"; }
.plottingfont-06020402:before { content: "\ed4b"; }
.plottingfont-06020403:before { content: "\ed4c"; }
.plottingfont-06020404:before { content: "\ed4d"; }
.plottingfont-060205:before { content: "\ed4e"; }
.plottingfont-06020501:before { content: "\ed4f"; }
.plottingfont-060206:before { content: "\ed50"; }
.plottingfont-060207:before { content: "\ed51"; }
.plottingfont-060208:before { content: "\ed52"; }
.plottingfont-060209:before { content: "\ed53"; }
.plottingfont-060210:before { content: "\ed54"; }
.plottingfont-060211:before { content: "\ed55"; }
.plottingfont-06021101:before { content: "\ed56"; }
.plottingfont-060212:before { content: "\ed57"; }
.plottingfont-060213:before { content: "\ed58"; }
.plottingfont-060214:before { content: "\ed59"; }
.plottingfont-06021401:before { content: "\ed5a"; }
.plottingfont-060215:before { content: "\ed5b"; }
.plottingfont-06021501:before { content: "\ed5c"; }
.plottingfont-060216:before { content: "\ed5d"; }
.plottingfont-06021601:before { content: "\ed5e"; }
.plottingfont-070101:before { content: "\ed5f"; }
.plottingfont-07010101:before { content: "\ed60"; }
.plottingfont-07010102:before { content: "\ed61"; }
.plottingfont-070102:before { content: "\ed62"; }
.plottingfont-070103:before { content: "\ed63"; }
.plottingfont-07010301:before { content: "\ed64"; }
.plottingfont-07010302:before { content: "\ed65"; }
.plottingfont-07010303:before { content: "\ed66"; }
.plottingfont-07010304:before { content: "\ed67"; }
.plottingfont-07010305:before { content: "\ed68"; }
.plottingfont-070104:before { content: "\ed69"; }
.plottingfont-07010401:before { content: "\ed6a"; }
.plottingfont-07010402:before { content: "\ed6b"; }
.plottingfont-07010403:before { content: "\ed6c"; }
.plottingfont-07010404:before { content: "\ed6d"; }
.plottingfont-07010405:before { content: "\ed6e"; }
.plottingfont-07010406:before { content: "\ed6f"; }
.plottingfont-07010407:before { content: "\ed70"; }
.plottingfont-07010408:before { content: "\ed71"; }
.plottingfont-07010409:before { content: "\ed72"; }
.plottingfont-07010410:before { content: "\ed73"; }
.plottingfont-07010411:before { content: "\ed74"; }
.plottingfont-07010412:before { content: "\ed75"; }
.plottingfont-07010413:before { content: "\ed76"; }
.plottingfont-07010414:before { content: "\ed77"; }
.plottingfont-07010415:before { content: "\ed78"; }
.plottingfont-070105:before { content: "\ed79"; }
.plottingfont-07010501:before { content: "\ed7a"; }
.plottingfont-07010502:before { content: "\ed7b"; }
.plottingfont-07010503:before { content: "\ed7c"; }
.plottingfont-07010504:before { content: "\ed7d"; }
.plottingfont-07010505:before { content: "\ed7e"; }
.plottingfont-07010506:before { content: "\ed7f"; }
.plottingfont-07010508:before { content: "\ed80"; }
.plottingfont-07010509:before { content: "\ed81"; }
.plottingfont-07010510:before { content: "\ed82"; }
.plottingfont-07010511:before { content: "\ed83"; }
.plottingfont-07010512:before { content: "\ed84"; }
.plottingfont-07010513:before { content: "\ed85"; }
.plottingfont-07010514:before { content: "\ed86"; }
.plottingfont-07010515:before { content: "\ed87"; }
.plottingfont-07010516:before { content: "\ed88"; }
.plottingfont-07010517:before { content: "\ed89"; }
.plottingfont-07010518:before { content: "\ed8a"; }
.plottingfont-07010519:before { content: "\ed8b"; }
.plottingfont-07010520:before { content: "\ed8c"; }
.plottingfont-07010521:before { content: "\ed8d"; }
.plottingfont-07010522:before { content: "\ed8e"; }
.plottingfont-07010523:before { content: "\ed8f"; }
.plottingfont-07010524:before { content: "\ed90"; }
.plottingfont-07010525:before { content: "\ed91"; }
.plottingfont-070106:before { content: "\ed92"; }
.plottingfont-07010601:before { content: "\ed93"; }
.plottingfont-07010602:before { content: "\ed94"; }
.plottingfont-07010603:before { content: "\ed95"; }
.plottingfont-07010604:before { content: "\ed96"; }
.plottingfont-07010605:before { content: "\ed97"; }
.plottingfont-07010606:before { content: "\ed98"; }
.plottingfont-07010607:before { content: "\ed99"; }
.plottingfont-070107:before { content: "\ed9a"; }
.plottingfont-07010701:before { content: "\ed9b"; }
.plottingfont-07010702:before { content: "\ed9c"; }
.plottingfont-07010703:before { content: "\ed9d"; }
.plottingfont-07010704:before { content: "\ed9e"; }
.plottingfont-07010705:before { content: "\ed9f"; }
.plottingfont-07010706:before { content: "\eda0"; }
.plottingfont-07010707:before { content: "\eda1"; }
.plottingfont-07010708:before { content: "\eda2"; }
.plottingfont-07010709:before { content: "\eda3"; }
.plottingfont-070108:before { content: "\eda4"; }
.plottingfont-07010801:before { content: "\eda5"; }
.plottingfont-07010802:before { content: "\eda6"; }
.plottingfont-07010803:before { content: "\eda7"; }
.plottingfont-07010804:before { content: "\eda8"; }
.plottingfont-07010805:before { content: "\eda9"; }
.plottingfont-07010806:before { content: "\edaa"; }
.plottingfont-07010807:before { content: "\edab"; }
.plottingfont-070109:before { content: "\edac"; }
.plottingfont-070201:before { content: "\edad"; }
.plottingfont-07020101:before { content: "\edae"; }
.plottingfont-07020102:before { content: "\edaf"; }
.plottingfont-07020103:before { content: "\edb0"; }
.plottingfont-070202:before { content: "\edb1"; }
.plottingfont-07020201:before { content: "\edb2"; }
.plottingfont-07020202:before { content: "\edb3"; }
.plottingfont-07020203:before { content: "\edb4"; }
.plottingfont-070203:before { content: "\edb5"; }
.plottingfont-070204:before { content: "\edb6"; }
.plottingfont-080101:before { content: "\edb7"; }
.plottingfont-080102:before { content: "\edb8"; }
.plottingfont-08010201:before { content: "\edb9"; }
.plottingfont-080103:before { content: "\edba"; }
.plottingfont-080104:before { content: "\edbb"; }
.plottingfont-08010401:before { content: "\edbc"; }
.plottingfont-080105:before { content: "\edbd"; }
.plottingfont-080106:before { content: "\edbe"; }
.plottingfont-08010601:before { content: "\edbf"; }
.plottingfont-080107:before { content: "\edc0"; }
.plottingfont-080201:before { content: "\edc1"; }
.plottingfont-080202:before { content: "\edc2"; }
.plottingfont-080203:before { content: "\edc3"; }
.plottingfont-080204:before { content: "\edc4"; }
.plottingfont-08020401:before { content: "\edc5"; }
.plottingfont-08020402:before { content: "\edc6"; }
.plottingfont-080205:before { content: "\edc7"; }
.plottingfont-08020501:before { content: "\edc8"; }
.plottingfont-080206:before { content: "\edc9"; }
.plottingfont-080207:before { content: "\edca"; }
.plottingfont-08020701:before { content: "\edcb"; }
.plottingfont-090101:before { content: "\edcc"; }
.plottingfont-09010101:before { content: "\edcd"; }
.plottingfont-09010102:before { content: "\edce"; }
.plottingfont-09010103:before { content: "\edcf"; }
.plottingfont-09010104:before { content: "\edd0"; }
.plottingfont-090102:before { content: "\edd1"; }
.plottingfont-09010201:before { content: "\edd2"; }
.plottingfont-09010202:before { content: "\edd3"; }
.plottingfont-09010203:before { content: "\edd4"; }
.plottingfont-09010204:before { content: "\edd5"; }
.plottingfont-09010205:before { content: "\edd6"; }
.plottingfont-09010206:before { content: "\edd7"; }
.plottingfont-09010207:before { content: "\edd8"; }
.plottingfont-090103:before { content: "\edd9"; }
.plottingfont-09010301:before { content: "\edda"; }
.plottingfont-09010302:before { content: "\eddb"; }
.plottingfont-09010303:before { content: "\eddc"; }
.plottingfont-090104:before { content: "\eddd"; }
.plottingfont-090105:before { content: "\edde"; }
.plottingfont-09010501:before { content: "\eddf"; }
.plottingfont-09010502:before { content: "\ede0"; }
.plottingfont-09010503:before { content: "\ede1"; }
.plottingfont-09010504:before { content: "\ede2"; }
.plottingfont-09010505:before { content: "\ede3"; }
.plottingfont-09010506:before { content: "\ede4"; }
.plottingfont-090106:before { content: "\ede5"; }
.plottingfont-09010601:before { content: "\ede6"; }
.plottingfont-09010602:before { content: "\ede7"; }
.plottingfont-090107:before { content: "\ede8"; }
.plottingfont-09010701:before { content: "\ede9"; }
.plottingfont-090108:before { content: "\edea"; }
.plottingfont-090109:before { content: "\edeb"; }
.plottingfont-090201:before { content: "\edec"; }
.plottingfont-090202:before { content: "\eded"; }
.plottingfont-09020201:before { content: "\edee"; }
.plottingfont-09020202:before { content: "\edef"; }
.plottingfont-090203:before { content: "\edf0"; }
.plottingfont-09020301:before { content: "\edf1"; }
.plottingfont-09020302:before { content: "\edf2"; }
.plottingfont-090204:before { content: "\edf3"; }
.plottingfont-09020401:before { content: "\edf4"; }
.plottingfont-09020402:before { content: "\edf5"; }

